<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoMercato</title>
</head>
<body>
    <h1>Welcome to AutoMercato</h1>
    <h2>Inserisci nuova automobile</h2>

    <div>
        <form action="/login-action" method="POST">
            <label for="marca">Casa Madre</label>
            <input type="text" id="marca" name="marca" >
            <label for="modello">Modello</label>
            <input type="text" id="modello" name="modello" >
        </form>
    </div>

</body>
</html>
